@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin:0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
}

.left-side{
    margin-top: none;
}

.left-image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    width: 40vw;
}


.right-side{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: normal;
    justify-content: flex-start;
    background-color: seagreen;
}

.intro{
    border-style: dotted;
    margin-bottom: 80px;
    padding: 2em;

}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-style: ridge;
    align-self: baseline;
    padding: 10%;
}

.login{
    margin-top: 10%;
}

