@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


*{
    margin:0;
    padding: 0;
}

body {
    display: flex;
    font-family: 'Roboto', sans-serif;
    color: antiquewhite;
}

.left-side{
    margin-top: none;
    background-image: url(freg3.jpg);
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#freg{
    color: black;
    background-color: rgba(180, 180, 180, 0.7);


}



.right-side{
    width: 60vw;
    display: flex;
    flex-flow: column nowrap;
    align-items: normal;
    justify-content: flex-start;
    background-color: seagreen;
}

.intro{
    margin-bottom: 80px;
    padding: 2em;

}

form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    border-style: ridge;
    align-self: baseline;
    padding: 1em;
    align-self: center;
    width:85%;
}

input[type="text"]:focus{
    background-color: red;
}

.login{
    margin-top: 10%;
    align-self: center;
}

button {
    background-color:olivedrab;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 12px;
  }

