

*{
    margin:0;
    padding: 0;
}

body {display: flex
}

.left-side{
    margin-top: none;
}

.left-image{
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
}


.right-side{
    margin-left: 1em;
}

.intro{
    border-style: dotted;
}

.form{
    display: flex;
    flex-wrap: wrap;
}

